@media (max-width: 1200px){
	.right-col {
	    display: none;
	}
}


/*@media (min-width: 1170px){
	.all-category .category-row .icon-category {
	    margin-right: 11px;
	}
}*/

@media (max-width: 1217px){
	.all-category .category-row .icon-category .icon-c{
		margin: 15px 48px 5px;
	}

}

@media (max-width: 1199px){
	.all-category .category-row .category-col {
	    width: 16%;
	}

	.all-category .category-row .icon-category .icon-c{
		margin: 15px 34px 5px;
	}

}
@media (max-width: 991px){


	.all-category .category-row .icon-category .icon-c{
		margin: 15px 26px 5px;
	}

}

@media (max-width: 767px){


	.all-category .category-row .icon-category .icon-c{
		margin: 15px 21px 5px;
	}

}

@media (max-width: 576px){


	.all-category .category-row .icon-category .icon-c{
		margin: 15px 23px 5px;
	}

}

@media (max-width: 569px){


	.all-category .category-row .icon-category .icon-c{
		width: 84px;
	}

}

@media (max-width: 564px){
	.all-category .category-row .icon-category .icon-c{
		width: 80px;
	}

}
